.navbar-default {
  background-color: rgba(247, 247, 247, 0.45);
  border-color: #FFFFFF;
  border: none;
  box-shadow: 0 4px 2px -3px #999999;
  .navbar-brand {
    text-shadown: 1px 1px 3px white;
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: #2B2B2B;
    background: none;
    border-bottom: black 2px solid;
  }
}
