.navbar-default {
  background-color: rgba(247, 247, 247, 0.45);
  border-color: #FFFFFF;
  border: none;
  box-shadow: 0 4px 2px -3px #999999;
  .navbar-brand {
    text-shadown: 1px 1px 3px white;
  }
}
