.pagination > li > a,
.pagination > li > span {
  color: #333;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #333;
  border-color: #333;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
