// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-header-form-container {
  position: relative;
  > .panel-title {
    display: inline-block;
  }
}
.article-header-form {
  position: absolute;
  right: 15px;
  top: 13px;
  display: inline;
  > .selectize-control {
    display: inline-block;
    min-width: 8em;
    vertical-align: top;
    margin-right: .5em;
  }
  > .selectize-control .selectize-input {
  }
  > .selectize-control .selectize-input:after {
    right: 14px;
  }
  > .selectize-control, > .btn {
    vertical-align: top;
  }
  > .selectize-control + .btn {
    margin-right: 2em;
  }
  //> .btn-sm, > a {
  //  display: inline-block;
  //  margin-top: 2px;
  //  margin-left: 2em;
  //  margin-right: 1em;
  //  padding-top: 4px;
  //  font-size: 16px;
  //  color: #666;
  //}
  //> a:hover {
  //  text-decoration: inherit;
  //  color: #000;
  //}
}
.form-group.article_body {
  margin-left: 0;
  margin-right: 0;
}
.article-example {
  > h4 {
    padding-top: .5em;
    padding-bottom: .7em;
    border-bottom: 1px solid #ddd;
  }
  > p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.article-example-preview {
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}
.article-example-preview, .preview {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3, h4, h5, h6 {
    font-size: 14px;
  }
  blockquote {
    font-size: 14px;
  }
  > p {
    text-indent: 2em;
  }
  > p:first-child {
    padding-top: 1rem;
  }
}
