h1 密碼重設
hr

p 親愛的使用者您好:
p
  | 有人想要修改您的密碼，您可以點選下方的連結重設您的密碼。
p = link_to '修改我的密碼', edit_password_url(@resource, reset_password_token: @token)

p 如果您並沒有要求修改密碼，請忽略這封信。
p 在您點擊連結和新建新的密碼前，您的密碼不會被修改。

p 自由學者管理系統 敬上

p
  a href="https://genesis.xsoameix.ninja" 自由學者管理系統
